
/* the whole form body style */
.form_body_wrapper{
    margin-top:10px ;
    border:solid 2px rgb(103, 109, 109);
    background-color: rgb(200, 200, 200);
}

/* the first account title */

.form_body_section_border{
    border-top: 2px  solid rgb(103, 109, 109);
}

/* the doted style for the inputs */
.input_dot{
    background-color: inherit;
    border: none;
    border-bottom: 1px black dashed;
    outline: none;
    letter-spacing: 1px;
}
