
/* the whole form body style */
.form_body_wrapper{
    margin-top:10px ;
    border:solid 2px rgb(103, 109, 109);
    background-color: rgb(200, 200, 200);
}

/* the first account title */
.first_account_holder{
    padding:5px 10px;
}

/*body of the first account section*/
.first_account_body h4{
    margin: 5px 0px;
}

/* the doted style for the inputs */
.input_dot{
    background-color: inherit;
    border: none;
    border-bottom: 1px black dashed;
    outline: none;
    letter-spacing: 1px;
}
