*{
  margin: 0;
  padding:0; 
 }

@font-face {
    font-family: title_mono;
    src: url(../resourses/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf   );
  }
@font-face {
    font-family: genaral-text-regular;
    src: url(../resourses/fonts/Urbanist/static/Urbanist-ExtraLight.ttf);
  }
@font-face {
  font-family: general-text-light;
  src: url(../resourses/fonts/Urbanist/static/Urbanist-Regular.ttf);
}

@font-face {
  font-family: general-text-bolder;
  src: url(../resourses/fonts/Urbanist/static/Urbanist-Bold.ttf);
}

/* fonts and font styles for the form body and the subhead  */
  .font-style-general{
    font-family: genaral-text-regular;
    font-size: 10px;
    letter-spacing: 1px;
    
  }

/* font and styles for the main head text */

  .font-style-head-light{
    font-family:general-text-light;
    font-size: 12px;
    letter-spacing: 1px;
  }

  /* font and style for form body titles */

  .font-style-form-body-title{
    font-family: general-text-bolder;
    font-size: 10px;
  }
  
  .font-style-form-body-title-big{
    font-family: general-text-bolder;
    font-size: 12px;
  }

  .input_box_dob{
    background-image: url(../resourses/icons/input.gif);    
    border: none;
    font-family: monospace;

    width: 130px;
    height: 15px;
    background-size: 15px;
    font-size: 10px;
    padding-left: 5px;
    letter-spacing: 9px;
    
  }

  .input_box_Etin{
    background-image: url(../resourses/icons/input.gif);    
    border: none;
    font-family: monospace;

    width: 190px;
    height: 15px;
    background-size: 15px;
    font-size: 10px;
    padding-left: 5px;
    letter-spacing: 9px;
  }
/* the doted style for the inputs */
  .input_dot{
    background-color: inherit;
    border: none;
    border-bottom: 1px black dashed;
    outline: none;
    letter-spacing: 1px;
  }
  .input_box_Account_numb{
    background-image: url(../resourses/icons/input.gif);    
    border: none;
    font-family: monospace;

    width: 205px;
    height: 15px;
    background-size: 15px;
    font-size: 10px;
    padding-left: 5px;
    letter-spacing: 9px;
  }
  .input_box_Account_numb_gray{
    background-image: url(../resourses/icons/input.gif);    
    font-family: monospace;
    border: none;

    width: 205px;
    height: 15px;
    background-size: 15px;
    font-size: 10px;
    padding-left: 5px;
    letter-spacing: 9px;
  }

  .input_box_Routing_numb{
    background-image: url(../resourses/icons/input.gif);    
    border: none;
    font-family: monospace;

    width: 145px;
    height: 15px;
    background-size: 15px;
    font-size: 10px;
    padding-left: 5px;
    letter-spacing: 9px;
  }
  .input_box_cdbl_participant_id{
    background-image: url(../resourses/icons/input.gif);    
    border: none;
    font-family: monospace;

    width: 70px;
    height: 15px;
    background-size: 15px;
    font-size: 10px;
    padding-left: 5px;
    letter-spacing: 9px;
  }
  .input_box_cdbl_name{
      background-image: url(../resourses/icons/input.gif);    
      border: none;
      font-family: monospace;

      width: 480px;
      height: 15px;
      background-size: 15px;
      font-size: 10px;
      letter-spacing: 9px;
  }

  .input_box_title{
      background-image: url(../resourses/icons/input.gif);    
      border: none;
      font-family: monospace;

      width: 75px;
      height: 15px;
      background-size: 15px;
      font-size: 10px;
      letter-spacing: 9px;
  }
