body {
    background: rgb(204,204,204); 

  }

  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); 
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size='notA4']{
    width: 21cm;
    height: 29.7cm; 
  }

  .container{
    width: 90%;
    height: 90%;
    margin: auto;
    transform: translateY(5%);  
    /* background-color: rgb(104, 95, 83); */
  }

  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }


  