
  .not_input_box_dob{
    background-image: url(../resourses/icons/input.gif);    
    border: none;
    font-family: monospace;
    width: 115px;
    height: 15px;
    background-size: 15px;
    font-size: 10px;
    padding-left: 5px;
    letter-spacing: 9px;
    
  }